body{
    margin: 0;
    font-family: Inter, sans-serif;
    /* background-image: url('../images/logo-background.svg');
    background-repeat: no-repeat;
    background-position: 120% 200%;
    background-size: 30%; */
}